.banner {
  height: auto;
  overflow: hidden;
  position: relative;
}

.banner-close {
  color: #5e464d;
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.banner-close:hover {
  cursor: pointer;
}

.banner-light-cream {
  background-color: #f8f5f0;
  color: #5e464d;
}

.banner-white-choc {
  color: #5e464d;
  background-color: #fff;
}

.banner-tcon-2020, .banner-dark-purple {
  color: #fff;
  background-color: #361C5E;
}

.banner-tcon-white {
  color: #fff;
  background-color: #ffffff;
  align-items: flex-start;
}

.banner-milk-choc {
  background-color: #5e464d;
}

.banner-bright-pink {
  background-color: #CA37AE;
}

.banner-burnt-orange {
  background-color: #F7A34E;
}

.banner-green {
  background-color: #3fe0c5;
}

.banner-periwinkle {
  background-color: #7f9dd1;
}

.banner-purple {
  background-color: #A359EA;
}

.banner-purple-rev {
  background-color: #A359EA;
  transform: skewY(20deg);
}

.banner-light-purple {
  color: #fff;
  background-color: #7532D6;
}

.banner-white {
  background-color: #fff;
}

.banner-taste {
  position: relative;
  background-image: url("/img/truffle-accent.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10rem 0;
  margin-top: 4rem;
}

.banner-taste.truffle {
  background-image: url("/img/truffle-accent.svg");
  background-position: -5% center;
  background-size: 100vh;
  border-top: 1px solid #3fe0c5;
}

.banner-taste.ganache {
  background-image: url("/img/ganache-accent.png");
  background-repeat: repeat-x;
}

.banner-taste.drizzle {
  background-image: url("/img/drizzle-accent.svg");
  background-position: -5% center;
  background-size: 80vh;
  border-top: 1px solid #e911bd;
}

.banner-elevate {
  background: #f8f5f0;
  padding: 3rem 0;
}

.banner-elevate .elevate-body {
  font-size: 1.15rem;
}

.banner-elevate .elevate-body p:first-of-type {
  font-size: 1.5rem;
}

.banner-elevate .elevate-body .text-date {
  display: block;
  font-size: 1.5rem;
  font-weight: 900;
}

.banner-elevate .elevate-hashtag .color-ganache {
  font-size: 1.333333333333333rem;
  font-weight: 800;
  margin-bottom: .5rem;
}

.banner-elevate .elevate-hashtag .btn-drizzle:hover {
  color: #e911bd;
}

.banner-trufflecon {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.banner-trufflecon a {
  text-decoration: none;
  color: #58484e;
}

.banner-trufflecon a:hover {
  color: white;
  text-decoration: none;
}

.banner-trufflecon img:first-of-type {
  position: absolute;
  left: 0px;
  top: -25px;
  height: 100px;
}

@media (max-width: 1185px) {
  .banner-trufflecon img:first-of-type {
    display: none;
  }
}

.banner-trufflecon img:last-of-type {
  position: absolute;
  right: 0px;
  top: -30px;
  height: 100px;
}

@media (max-width: 1185px) {
  .banner-trufflecon img:last-of-type {
    display: none;
  }
}

.banner-truffle-tcon-2020 {
  background-color: #3fe0c5;
  font-weight: bold;
  text-decoration: none;
  height: auto;
  overflow: hidden;
  position: relative;
}

.banner-truffle-tcon-2020 a {
  text-decoration: none;
  color: #5E464D;
}

.banner-truffle-tcon-2020 a:hover {
  color: white;
  text-decoration: none;
}

.banner-trufflecon-swag {
  color: white;
  font-weight: bold;
  text-decoration: none;
  background-image: url(/img/trufflecon/swag-bg2.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-trufflecon-swag a {
  text-decoration: none;
  color: #58484e;
}

.banner-trufflecon-swag a:hover {
  color: #3fe0c5;
  text-decoration: none;
}

.banner-trufflecon-poker {
  background-image: url(/img/trufflecon/green-swirl-plain-centered.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

div#hs-eu-cookie-confirmation {
  border-radius: 6px 6px 0 0;
  bottom: 0 !important;
  left: 50% !important;
  max-width: 1140px !important;
  position: fixed !important;
  top: auto !important;
  transform: translateX(-50%);
  z-index: 9999 !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area a#hs-eu-confirmation-button {
  background-color: #3fe0c5 !important;
  border: none !important;
  box-shadow: none !important;
  color: #5e464d !important;
  font-family: 'Oswald', sans-serif !important;
  text-shadow: none !important;
  text-transform: uppercase !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area a#hs-eu-confirmation-button:hover {
  background-color: #fff !important;
  background-image: none !important;
}

div#hubspot-messages-iframe-container {
  z-index: 9998 !important;
}
