body.case-studies {
  background: #ffffff;
}

.case-studies .media {
  border-left: none;
  padding-left: 0;
}

.case-studies .media-body {
  font-family: 'Barlow', sans-serif;
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 900;
  padding-left: 0;
  text-decoration: underline;
  text-decoration-color: #3fe0c5;
}

.case-studies .author {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.case-studies .author .author-title {
  font-size: .8em;
}

.case-studies .container-heading {
  color: #33262a;
  padding-top: calc(4rem + 56px);
}

.case-studies .case-study-logo {
  display: block;
  margin: 0 auto;
  width: 75%;
}

.case-studies .container-post h1:first-child,
.case-studies .container-post h2:first-child,
.case-studies .container-post h3:first-child,
.case-studies .container-post h4:first-child,
.case-studies .container-post h5:first-child,
.case-studies .container-post h6:first-child {
  margin-top: 0;
}

.case-studies .case-study-footer [class^="col"] {
  display: flex;
  flex-direction: column;
}

.case-studies .case-study-footer [class^="col"] .btn {
  margin-top: auto;
}

.case-studies .case-study-footer [class^="col"] ul li:not(:last-child) {
  margin-bottom: 0;
}

.case-study-subnav {
  background: #5e464d;
}
