.navbar {
  font-family: 'Oswald', sans-serif;
}

@media (max-width: 767.98px) {
  .navbar-nav {
    padding-top: 1rem;
  }
}

.navbar a.navbar-brand {
  line-height: 2rem;
}

.navbar a.navbar-brand img {
  display: block;
  float: left;
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 1rem;
  }
}

.navbar .suite-logo {
  height: 2rem;
  margin-right: .75rem;
}

.trufflecon-link {
  letter-spacing: .14em;
}

.trufflecon-link span {
  display: none;
}

.trufflecon-link img {
  height: 1em;
  margin-top: -.25em;
  margin-right: .14em;
}

.navbar .navbar-collapse {
  flex-grow: 0;
  margin-left: auto;
}

.navbar-dark {
  background: #33262a;
  border-bottom: 2px solid #5e464d;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-expand-md .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .dropdown-menu {
  background: #33262a;
  border-bottom: 2px solid #5e464d;
  border-left: 2px solid #5e464d;
  border-right: 2px solid #5e464d;
}

.navbar-dark .dropdown-menu a {
  color: #fff;
}

.navbar-dark .navbar-toggler .icon-bar {
  background: #fff;
}

.navbar-light {
  background: #f8f5f0;
  border-bottom: 2px solid #efe5dc;
}

.navbar-light a, .navbar-light .navbar-nav .nav-link {
  color: #33262a;
  opacity: 1;
}

.navbar-light .dropdown-menu {
  background: #f8f5f0;
  border-bottom: 2px solid #efe5dc;
  border-left: 2px solid #efe5dc;
  border-right: 2px solid #efe5dc;
}

.navbar-light .navbar-toggler .icon-bar {
  background: #33262a;
}

.navbar .dropdown-menu {
  border-radius: 0 0 .25rem .25rem;
  border-top: none;
  margin: 8.5px 0 0 -4px;
  min-width: 14.5rem;
  padding: 1rem;
}

.navbar .dropdown-menu a {
  display: block;
}

.navbar .dropdown-menu a:hover {
  text-decoration: none;
  opacity: .75;
}

.navbar .dropdown-menu a:not(:last-child) {
  margin-bottom: 1rem;
}

.navbar .dropdown-menu .suite-logo {
  height: auto;
  width: 2rem;
}

.navbar .dropdown-menu .text-ganache {
  font-size: 1.5rem;
}

@media (max-width: 767.98px) {
  .navbar .dropdown-menu {
    margin: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
}

.navbar-toggler {
  position: relative;
  height: 32px;
  width: 42px;
  border: none;
}

.navbar-toggler:focus {
  outline-color: transparent;
}

.navbar-toggler .icon-bar {
  position: absolute;
  height: 3px;
  width: 25px;
  transition: all .25s ease-in-out;
  transform: none;
}

.icon-bar:nth-of-type(1) {
  top: 7px;
  left: 10px;
}

.icon-bar:nth-of-type(2) {
  top: 15px;
  left: 10px;
}

.icon-bar:nth-of-type(3) {
  bottom: 6px;
  left: 10px;
}

.navbar-toggler[aria-expanded="true"]:hover {
  opacity: 1;
}

.navbar-toggler[aria-expanded="true"] .icon-bar:nth-of-type(1) {
  top: calc(50% - 2px);
  left: 11px;
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .icon-bar:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .icon-bar:nth-of-type(3) {
  bottom: calc(50% - 1px);
  transform: rotate(-45deg);
}

.subnav {
  position: fixed;
  top: 58px;
  width: 100%;
  padding: .5rem .5rem .5rem 0;
  background: transparent;
  z-index: 2;
  transition: all .125s ease-in-out;
  -ms-transition: all .125s ease-in-out;
  -moz-transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
}

.subnav a {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  text-transform: uppercase;
}

.subnav a:hover {
  opacity: .8;
}

.subnav .btn {
  flex-grow: 1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: 1rem;
  opacity: 0;
  visibility: hidden;
}

.subnav.scroll {
  padding: 0 .5rem 0 0;
}

.subnav.scroll .btn {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 767.98px) {
  .subnav .nav-link {
    padding: .5rem;
    font-size: .8rem;
  }
  .subnav .btn-eventbrite {
    margin-right: .5rem;
  }
}

.subnav-dark a {
  color: #fff;
}

.subnav-dark.scroll {
  background: #5e464d;
}

.subnav-light.scroll {
  background: #efe5dc;
}

.subnav-light a {
  color: #5e464d;
}
