.policy-container .c3 {
  font-weight: bold;
}

.policy-container .c6 {
  font-style: italic;
}

.policy-container .c23 {
  text-align: center;
}

.policy-container .lst-kix_list_1-0,
.policy-container .lst-kix_list_2-0,
.policy-container .lst-kix_list_5-0 {
  padding-left: 1.25rem;
}

.policy-container .table {
  color: #5e464d;
}

.policy-container .table td {
  border-color: #efe5dc;
  border-width: 2px;
}
