<section class="Features p-t-4 p-b-4">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <h3 class="WithDash m-b-4">TRUFFLE FEATURES</h3>
        <ol class="FeatureList list-unstyled">
          <li>
            <h4>Built-in smart contract compilation, linking, deployment and binary management.</h4>
            <p>Truffle takes care of compiling your Solidity contracts to a Javascript wrapper, which will automatically link and include any additional contracts, provisioning them with addresses on the network, and deploying them.</p>
            <div class="LinkSection">
              <a href="#">Learn More</a>
              <a href="#">Examples</a>
            </div>
          </li>
          <li>
            <h4>Automated contract testing with Mocha and Chai.</h4>
            <p>Truffle takes care of compiling your Solidity contracts to a Javascript wrapper, which will automatically link and include any additional contracts, provisioning them with addresses on the network, and deploying them.</p>
            <div class="LinkSection">
              <a href="#">Learn More</a>
              <a href="#">Examples</a>
            </div>
          </li>
          <li>
            <h4>Configurable build pipeline with support for custom build processes.</h4>
            <p>Truffle takes care of compiling your Solidity contracts to a Javascript wrapper, which will automatically link and include any additional contracts, provisioning them with addresses on the network, and deploying them.</p>
            <div class="LinkSection">
              <a href="#">Learn More</a>
              <a href="#">Examples</a>
            </div>
          </li>
          <li>
            <h4>Scriptable deployment &amp; migrations framework.</h4>
            <p>Truffle takes care of compiling your Solidity contracts to a Javascript wrapper, which will automatically link and include any additional contracts, provisioning them with addresses on the network, and deploying them.</p>
            <div class="LinkSection">
              <a href="#">Learn More</a>
              <a href="#">Examples</a>
            </div>
          </li>
          <li>
            <h4>Network management for deploying to many public &amp; private networks.</h4>
            <p>Truffle takes care of compiling your Solidity contracts to a Javascript wrapper, which will automatically link and include any additional contracts, provisioning them with addresses on the network, and deploying them.</p>
            <div class="LinkSection">
              <a href="#">Learn More</a>
              <a href="#">Examples</a>
            </div>
          </li>
          <li>
            <h4>Interactive console for direct contract communication.</h4>
            <p>Truffle takes care of compiling your Solidity contracts to a Javascript wrapper, which will automatically link and include any additional contracts, provisioning them with addresses on the network, and deploying them.</p>
            <div class="LinkSection">
              <a href="#">Learn More</a>
              <a href="#">Examples</a>
            </div>
          </li>
          <li>
            <h4>Instant rebuilding of assets during development.</h4>
            <p>Truffle takes care of compiling your Solidity contracts to a Javascript wrapper, which will automatically link and include any additional contracts, provisioning them with addresses on the network, and deploying them.</p>
            <div class="LinkSection">
              <a href="#">Learn More</a>
              <a href="#">Examples</a>
            </div>
          </li>
          <li>
            <h4>External script runner that executes scripts within a Truffle environment.</h4>
            <p>Truffle takes care of compiling your Solidity contracts to a Javascript wrapper, which will automatically link and include any additional contracts, provisioning them with addresses on the network, and deploying them.</p>
            <div class="LinkSection">
              <a href="#">Learn More</a>
              <a href="#">Examples</a>
            </div>
          </li>
          <li>
            <h4>Support for JavaScript, SASS, ES6 and JSX built-in.</h4>
            <p>Truffle takes care of compiling your Solidity contracts to a Javascript wrapper, which will automatically link and include any additional contracts, provisioning them with addresses on the network, and deploying them.</p>
            <div class="LinkSection">
              <a href="#">Learn More</a>
              <a href="#">Examples</a>
            </div>
          </li>
        </ol>
      </div>
      <div class="col-xs-12 col-md-4">
        <section class="FeatureCard">
          <div class="FeatureBody">
            <h6>MODULAR FROM THE GROUND UP</h6>
            <p>Truffle is written Javascript in a completely modular fashion, allowing you to pick and choose which functionality you'd like to use elsewhere.</p>
            <p>For example, you could use Truffle as a library in your own tool, only using the modules that you need. This allows you to take advantage of powerful tools like Truffle Migrations in your own command line tools.</p>
            <p>Check out the source code on Guthub!</p>
          </div>
					<footer>
						<a href="https://github.com/consensys/truffle">
							<img src="images/gh_logo.png"/>
							<p>consensys/truffle</p>
						</a>
					</footer>
        </section>
      </div>
    </div>
  </div>
</section>
